/* 
    Created on : 8/09/2014, 05:35:25 PM
    Author     : Mario Felipe Luévano Villagómez<fluevano@gmail.com>
*/
body {
  background-color: #FBF8EF;
  font-family: Arial, Verdana;
  height: 1000%;
  margin: 0;
  padding: 0;
  width: 100%;
}
hr
{
    width: 95%;
}
.copyright
{
    font-size: .7em;
}
.header h1 
{ 
    text-align: center;
    color:#fff;
     text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #aaa,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
.sesion{
    background: #393939;
    border-radius: 20px;
    color: #a9a9a9;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    height: 500px;
}

.sesion form{
    margin-top: 20px;
}

.sesion form button{
    margin-top: 5px;
}

.sesion img{
    
    margin:10px;
}

.mensaje 
{
    margin-top: 15px;
}
#logodev{
    
    -moz-filter: grayscale(100%);
    -o-filter:grayscale(100%);
    -ms-filter:grayscale(100%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* For Webkit browsers */
    filter: gray; /* For IE 6 - 9 */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */

}

#logodev:hover{
   
filter: none;

}

